{% extends "base.html" %}

{% block content %}
{{datafile.title}}<br />
{{datafile.description}}<br />
<a href="{{datafile.source_url}}" target="_blank">{{datafile.source}}</a><br />
<a href="{% url datafile_download datafile.slug %}">Raw Data</a><br />
{% if datafile.data %}
{% with metadata=datafile.data.meta data=datafile.data.data %}
    {{metadata.records}} records<br />
    <table>
        <thead>
            <tr>
                {% for column in metadata.columns %}
                <th>{{column.fieldname}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                {% for column in metadata.columns %}
                <td>{{row|hash:column.fieldname}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endwith %}
{% else %}
Original data could not be parsed for viewing
{% endif %}
{% endblock %}
